const char* ssid     = "ssid";
const char* password = "pass";
const char* endpoint = "https://127.0.0.1:5000/";
const char* fingerprint = "00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00";

